Connexion à la base PostgreSQL

In [3]:
from sqlalchemy import create_engine
import pandas as pd

# Connexion PostgreSQL avec SQLAlchemy
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/test3")

# Lire la table source
df = pd.read_sql("SELECT * FROM source_employees", engine)
df.head()

,id,name,age,email,phone,created_at
0,1,Alice Smith,30.0,alice@example.com,123456789,2025-07-31 10:48:39.966900
1,2,Bob Johnson,45.0,bob.johnson@example.com,None,2025-07-31 10:48:39.966900
2,3,Charlie Davis,15.0,charlie@company.com,987654321,2025-07-31 10:48:39.966900
3,4,Dana Lee,28.0,dana-at-example.com,555123456,2025-07-31 10:48:39.966900
4,5,Eli Morgan,70.0,eli.morgan@domain.com,444999888,2025-07-31 10:48:39.966900

Charger les règles depuis la base

In [4]:
rules_df = pd.read_sql("SELECT * FROM rules_catalog WHERE is_active = TRUE", engine)
rules_df

,id,rule_name,description,column_name,severity,is_active
0,1,Age between 18-60,Age must be between 18 and 60 years,age,high,True
1,2,Email must contain @,Email must contain @ symbol,email,medium,True
2,3,Phone not null,Phone number cannot be null,phone,high,True

Appliquer les règles

In [6]:
def validate_age(x): return 18 <= x <= 60 if pd.notnull(x) else False
def validate_email(x): return '@' in x if pd.notnull(x) else False
def validate_phone(x): return pd.notnull(x) and len(str(x)) >= 8

violations = []

for idx, row in df.iterrows():
    if not validate_age(row['age']):
        violations.append({
            'row_id': idx,
            'column_name': 'age',
            'rule_name': 'Age between 18-60',
            'invalid_value': row['age'],
            'severity': 'high',
            'message': 'Age out of range'
        })
    if not validate_email(row['email']):
        violations.append({
            'row_id': idx,
            'column_name': 'email',
            'rule_name': 'Email must contain @',
            'invalid_value': row['email'],
            'severity': 'medium',
            'message': 'Invalid email'
        })
    if not validate_phone(row['phone']):
        violations.append({
            'row_id': idx,
            'column_name': 'phone',
            'rule_name': 'Phone not null',
            'invalid_value': row['phone'],
            'severity': 'high',
            'message': 'Phone number missing or too short'
        })

violations_df = pd.DataFrame(violations)
violations_df.head()

,row_id,column_name,rule_name,invalid_value,severity,message
0,1,phone,Phone not null,None,high,Phone number missing or too short
1,2,age,Age between 18-60,15.0,high,Age out of range
2,3,email,Email must contain @,dana-at-example.com,medium,Invalid email
3,4,age,Age between 18-60,70.0,high,Age out of range
4,5,age,Age between 18-60,NaN,high,Age out of range

 Enregistrer les violations dans PostgreSQL

In [ ]:
violations_df.to_sql('violations_log', engine, if_exists='append', index=False)